<%= simple_nested_form_for [@mine, @configuration, @configuration_segment] do |f| %>
  <%= f.input :title %>
  <%= f.fields_for :configuration_segment_parameters do |param_form| %>
    <h3><%= param_form.object.configuration_parameter.title %></h3>
    <%= param_form.input :configuration_parameter_id, :as => :hidden %>

    <% if param_form.object.configuration_parameter.kind.quality? %>
      <%= param_form.input :quality_value,
        :as => :check_boxes,
        :collection => @mine.uniq_values_for_option(param_form.object.configuration_parameter.title) %>
    <% else %>
      <%= param_form.input :quantity_value, :as => :integer %>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>

<%= link_to 'back', [@mine, @configuration] %>
